In [63]:
import pandas as pd

In [64]:
df = pd.read_csv("/home/suraj/projects/publish/data/invocations_count.csv")

In [65]:
df.head()

,HashOwner,HashApp,HashFunction,Trigger,1,2,3,4,5,6,...,1431,1432,1433,1434,1435,1436,1437,1438,1439,1440
0,71ca12c7af70d021e285b51b245942f8432df6463ff9f2...,7ca324d9fc836a5d4562811c11ce3719530ee919dd1fb9...,520dbd6bd906840012aa0c4b778743efc7c0ac7b7caf96...,http,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
1,71ca12c7af70d021e285b51b245942f8432df6463ff9f2...,0d0ac65651f54ae3285a59564d64e39238b516fa1d5b56...,115ca7a2b5bc290052c3da74cd0347d19c3c67b7d5aa66...,http,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
2,71ca12c7af70d021e285b51b245942f8432df6463ff9f2...,a04487a6ba1e14296eb7647e4963180d28bef7a90a8fc5...,93e6c664773bbec3a7f50a0e92fa7e97401a802dc6eed8...,orchestration,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,71ca12c7af70d021e285b51b245942f8432df6463ff9f2...,a04487a6ba1e14296eb7647e4963180d28bef7a90a8fc5...,740c5c767e4b9978ee59a97d1829cfbaf755a47806a311...,http,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,71ca12c7af70d021e285b51b245942f8432df6463ff9f2...,a04487a6ba1e14296eb7647e4963180d28bef7a90a8fc5...,c108b4864b866b38b80d0e4594cc6d038f39668b804a1b...,http,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [66]:
df.columns

Index(['HashOwner', 'HashApp', 'HashFunction', 'Trigger', '1', '2', '3', '4',
       '5', '6',
       ...
       '1431', '1432', '1433', '1434', '1435', '1436', '1437', '1438', '1439',
       '1440'],
      dtype='object', length=1444)

In [67]:
rows = df[df["HashFunction"] == "85cff28b83792428e039e986e5d5554318a9678f111ec9a6f65ae2956f25ed18"]

In [68]:
rows

,HashOwner,HashApp,HashFunction,Trigger,1,2,3,4,5,6,...,1431,1432,1433,1434,1435,1436,1437,1438,1439,1440
56,98f3fe1d01789fc2d8ab1dc9cd9a31d51fcbf1936e36a4...,16cc0b0d6a30aa79e0a1f5a2efb3c44e310fa90e1e060c...,85cff28b83792428e039e986e5d5554318a9678f111ec9...,queue,193,179,180,159,160,178,...,1499,214,3187,979,591,768,865,1505,1285,450

In [69]:
duplicates = df[df.duplicated(subset=['HashApp'], keep=False)]

In [70]:
numeric_columns = [str(i) for i in range(1, 1441)]  # Columns '1' to '1440'

# Function to get the sum for a specific HashFunction
def sum_function_values(df, hash_function_value):
    # Filter rows where HashFunction matches the given value
    filtered_df = df[df['HashFunction'] == hash_function_value]
    
    # Sum across the specified numeric columns
    return filtered_df[numeric_columns].sum(axis=1)

In [73]:
hash_function_value = "85cff28b83792428e039e986e5d5554318a9678f111ec9a6f65ae2956f25ed18"  # Replace with the actual function name
result = sum_function_values(df, hash_function_value)

In [74]:
result

56    1985730
dtype: int64

In [75]:
df2 = pd.read_csv("/home/suraj/projects/publish/data/execution.csv")

In [76]:
df2.columns

Index(['HashOwner', 'HashApp', 'HashFunction', 'Average', 'Count', 'Minimum',
       'Maximum', 'percentile_Average_0', 'percentile_Average_1',
       'percentile_Average_25', 'percentile_Average_50',
       'percentile_Average_75', 'percentile_Average_99',
       'percentile_Average_100'],
      dtype='object')

In [77]:
rows = df2[df2["HashFunction"] == "85cff28b83792428e039e986e5d5554318a9678f111ec9a6f65ae2956f25ed18"]

In [78]:
rows

,HashOwner,HashApp,HashFunction,Average,Count,Minimum,Maximum,percentile_Average_0,percentile_Average_1,percentile_Average_25,percentile_Average_50,percentile_Average_75,percentile_Average_99,percentile_Average_100
554,98f3fe1d01789fc2d8ab1dc9cd9a31d51fcbf1936e36a4...,16cc0b0d6a30aa79e0a1f5a2efb3c44e310fa90e1e060c...,85cff28b83792428e039e986e5d5554318a9678f111ec9...,49,1985000,9.0,15029.0,14,32,40,44,51,127,2595